@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
  background-color: #F5F4F0;
  font-family: 'Nerko One', cursive;
  color: black;
  font-size: 56px;
  line-height: 56px;
}

#banner {
  text-align: center;
  font-size: 112px;
  line-height: 200px;
}

a {
  color: black;
  text-decoration: line-through;
}

a:hover {
  color: #6D676E;
}

.container {
  text-align: center;
}

.img-center {
  width: 480px;
}


h1 {
  margin-bottom: 32px; 
}

@media (max-width: 480px) {
  .img-center {
    width: 360px;
  }
}
